        {{#spielList}}
        <ul>
            <li>Spiel: {{id}}</li>
            <li>letzter Zugriff: {{lastAccess}}</li>
            <li>Status: {{status}}</li>
            <li>angemeldete Spieler:
                {{#spieler}}
                {{name}},
                {{/spieler}}
            </li>
        </ul>
        <a href="spiel/{{id}}">zum Spiel</a>
        {{/spielList}}